.nav-active:hover{
    background-color: darkslategray;

}
/*input[type="text"], textarea{
    background-color: darkslategray;
}*/

@media (max-width:575px) {

      .form-border
      {
        
        box-shadow: 0px 0px 10px rgba(0, 0, 0,0.5);
        border-radius: 5px;
        border-color: rgb(69, 2, 156);

        }
        .dropdown-divider
        {
          width: 95%;
        }
      

}

@media (min-width:576px) {

      .form-fulls
      {
        border:1px grey !important;
        border-radius: 5px;

        }


}

.small-text{
  font-size: 10px;
}
.register-bold-text{
  font-size:10px;
  font-weight:500;
}
.normal-bold-text{
  font-size: 10px; 
  font-weight:500;
}

.grey-text{
  color:  rgb(66, 66, 66);
}

.light-grey-text{
  color: rgb(95, 94, 94);
}
.input-text-field >input[type=text],.input-text-field > input[type=date], .input-text-field >input[type=password] {
  border-style: none;
  border-bottom:  rgba(255, 255, 255, 0) 0.5px solid;
  width:95%;
  transition: 0.3s ease;
  font-size: 12px; 
  font-weight:500;
  color:  rgb(138, 138, 138);
}

.input-text-field >input[type=text]:focus, .input-text-field >input[type=password]:focus {
  outline: none !important;
}

#triangle {
	position: absolute;
      width: 0;
      height: 0;
      border-top: 500px solid rgb(66, 66, 66);
      border-right: 578px solid transparent;
      z-index: -1;
      margin: 0;
      padding: 0;
    }


.sign-up{
  background-color: rgb(111, 109, 255);
  color:white;
  display: inline-block;
  width: 80%;
  height: 40px;
  border-radius: 5px;
  border: none;
  transition: .3s ease-in-out;
}

.sign-up:hover{
  box-shadow: 0px 0px 10px rgb(111, 109, 255) ;
  font-size: 105%;
  border: none;
}

#facebook{
  background: #3b5998;
  transition: 0.3s ease-in;
  color: white;
}
#facebook:hover{
  background: white;
  box-shadow: 1px 2px 14px #3b5998;
  color: #3b5998;
}

#twitter{
  background:#3399ff;
  transition: 0.3s ease-in;
  color: white;
}
#twitter:hover{
  background: white;
  box-shadow: 1px 2px 14px #3399ff;
  color: #3399ff;
}
#google{
  background:#cc3333;
  transition: 0.3s ease-in;
  color: white;
}
#google:hover{
  background: white;
  box-shadow: 1px 2px 14px #cc3333;
  color: #cc3333;
}

.small-button{
  outline: none;
  border: none; 
  height: 26px;
  width: 100%;
  border-radius: 12px;
  padding: 0px;
}
.small-button i{
  float:left;
  display: block;
  margin: 3px 8px;
}

.small-button p{
  float:left;
  display: block;
  padding: 0px; 
  margin: 3px auto;
  padding-left: 2%;
  font-size: 70%;
}





