@import url('https://rsms.me/inter/inter-ui.css');

.page {
  background: #efeff5;
  display: flex;
  flex-direction: column;
  height: calc(100% - 60px);
  position: absolute;
  place-content: center;
  width: calc(100% - 60px);
}
@media (max-width: 767px) {
  .page {
    height: auto;
    margin-bottom: 50px;
    padding-bottom: 50px;
  }
}
.container {
  display: flex;
  height: 900px;
  margin: 0 auto;
  width: 750px;
}
@media (max-width: 767px) {
  .container {
    flex-direction: column;
    height: 630px;
    width: 320px;
  }
}

.left {
  background: rgb(36, 36, 37);
  height: calc(100% - 40px);
  top: 20px;
  position: relative;
  width: 50%;
}

@media (max-width: 850px) {
  .left {
    height: 100%;
    left: 50px;
    width: calc(100% - 40px);
    max-height: 270px;
  }
}
.login {
  color: rgb(233, 225, 225);
  font-size: 50px;
  font-weight: 600;
  margin: 50px 40px 40px;
}
.eula {
  color: rgb(233, 225, 225);
  font-size: 14px;
  line-height: 1.5;
  margin: 30px;
}
.right {
  background: rgb(245, 246, 248);
  box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
  color: rgb(18, 18, 19);
  position: relative;
  width: 80%;
}
@media (max-width: 767px) {
  .right {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 650px;
  }
}

path {
  fill: none;
  stroke: url(#linearGradient);;
  stroke-width: 4;
  stroke-dasharray: 240 1386;
}
.form {
  margin: 50px;
  position: absolute;
}
.or-seperator {
  margin-top: 40px;
  text-align: center;
  border-top: 1px solid #ccc;
}
.or-seperator i {
  padding: 0 10px;
  background: #f7f7f7;
  position: relative;
  top: -11px;
  z-index: 1;
}   
.login-btn {
  color: #3B5998;
  font-size: 15px;
  font-weight: bold;
}

.form-control, .login-btn {
  min-height: 38px;
  border-radius: 2px;
}


.txt1 {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.5;
  color: #666666;
}

/* login with social media */
.social-btn .btn {
  border: none;
      margin: 10px 3px 0;
      opacity: 1;
}
  .social-btn .btn:hover {
      opacity: 0.9;
  }
.social-btn .btn-primary {
      background: #507cc0;
  }
.social-btn .btn-info {
  background: #64ccf1;
}
.social-btn .btn-danger {
  background: #df4930;
}

/* CSS design for error page */
/* .center {text-align: center; margin-left: auto; margin-right: auto; margin-bottom: auto; margin-top: auto;} */
body {
  background: #dedede;
}
.page-wrap {
  min-height: 50vh;
}