body{
    margin: 0px;
    padding: 0px;
}

.bg{
    padding: 0px;
    margin: 0px;
    height: 560px;
    width: 100%;
    background-image: url("assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.heading >h1{
    color: White;
    text-align: center;
    margin: 0%;
    padding-top:10%;
    font-size: 50px;
}

.center {
    position: absolute;
    margin: 0px;
    padding: 0px;
    left: 35%;
    top: 60%;
}

ul{
    margin: 0px;;
    padding: 0px;
    list-style: none;
    display: flex;
}

ul li{
    padding: 5px;
    font-family: calibri;
    font-size: 25px;
    border: red transparent;
    margin: 5px;
    border-radius: 5px;
}

ul li a{
    text-decoration: none;
    display: block;
    color: white; 
    padding: 5px;
    border-radius: 5px;
    transition: all 0.3s ease-in;
}

ul li:nth-child(1) a{
    border: brown solid;

}
ul li:nth-child(2) a{
    border: white solid;

}
ul li:nth-child(3) a{
    border: green solid;

}
ul li:nth-child(4) a{
    border: grey solid;

}

ul li:nth-child(1):hover a{
    box-shadow:0px 0px 10px brown, 0px 0px 10px brown;
    background: rgba(139,69,19,0.3);
    text-shadow: 0px 0px 10px white, 0px 0px 10px white;
}

ul li:nth-child(2):hover a{
    box-shadow:0px 0px 10px white, 0px 0px 10px white;
    background: rgba(255, 255, 255, 0.3);
    text-shadow: 0px 0px 10px white, 0px 0px 10px white;
}
ul li:nth-child(3):hover a{
    box-shadow:0px 0px 10px green, 0px 0px 10px green;
    background: rgba(9, 255, 30, 0.3);
    text-shadow: 0px 0px 10px white, 0px 0px 10px white;
}
ul li:nth-child(4):hover a{
    box-shadow:0px 0px 10px grey, 0px 0px 10px grey;
    background: rgba(122, 122, 122, 0.3);
    text-shadow: 0px 0px 10px white, 0px 0px 10px white;
}