<!DOCTYPE html>
<html>
<head>
    
    <title>Transparent button</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css">
    <script src="script.js"></script>
</head>
<body>
    <div class="bg">
        
        <div class="heading">
            <h1>Transparent Button</h1>
        </div>

        <div class="center">
            <ul>
                <li><a href="">menu 1</a></li>
                <li><a href="">menu 2</a></li>
                <li><a href="">menu 3</a></li>
                <li><a href="">menu 4</a></li>
            </ul>
        </div>
    </div>
</body>
</html>